<div class="home-page">
  <div class="card">
    <div class="loader">
      <p>Hello</p>
      <div class="words">
        <span class="word">Cris</span>
        <span class="word">Baby</span>
        <span class="word">Love</span>
        <span class="word">Bebe</span>
        <span class="word">Boss</span>
      </div>
    </div>
  </div> 
  <div class="🤚">
    <div class="👉"></div>
    <div class="👉"></div>
    <div class="👉"></div>
    <div class="👉"></div>
    <div class="🌴"></div>		
    <div class="👍"></div>
  </div>
</div>
