<div class="home-page">
  <div class="card">
    <div class="loader">
      <p>Hello</p>
      <div class="words">
        <span class="word">Bro</span>
        <span class="word">Baby</span>
        <span class="word">Babe</span>
        <span class="word">Darling</span>
        <span class="word">Beh</span>
      </div>
    </div>
  </div> 
  <div class="🤚">
    <div class="👉"></div>
    <div class="👉"></div>
    <div class="👉"></div>
    <div class="👉"></div>
    <div class="🌴"></div>		
    <div class="👍"></div>
  </div>
</div>